@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
  font-family: 'Epilogue', sans-serif;
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Epilogue', sans-serif;
  background-color: hsl(0, 0%, 98%) !important;
}
a.nav-link {
  color: hsl(0, 0%, 41%);
}
a.nav-link:hover {
  color: hsl(0, 0%, 8%);
}
li.nav-item {
  margin-left: 25px;
}
a.btn-login {
    margin-right: 25px;
}
a.btn-login > button.btn.btn-outline-dark {
  border: 0px;
}
ul.dropdown-menu.show {
  border: 0;
  background: transparent;
  box-shadow: 0px 0px 109px -17px rgb(0 0 0 / 50%);
}
a.btn-register > button,
a.btn-login > button {
  padding: 6px 20px;
}
a.dropdown-item >img {
  margin-right: 10px;
  margin-left: 8px;
}
img.img-lado-esquerdo-desktop {
  width: 390px;
}
h1.titulo-page {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.0em;
}
.col-md-6.parte-texto {
  display: grid;
  align-content: center;
}
.biblioteca-images {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
}
.col-md-6.parte-texto > p {
  margin-top: 25px;
}
.col-md-6.parte-texto > p {
  margin-bottom: 40px;
  margin-top: 40px;
}
.col-md-6.section-image {
  display: flex;
  justify-content: flex-end;
}
section.container.site_body {
  margin-top: 25px;
  padding-bottom: 15px;
}
header {
  padding: 20px;
}
a.btn-login button,
a.btn-register button{
  color: hsl(0, 0%, 41%)
}
a.btn-register{
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 15px;
}
a.btn-login button:hover,
a.btn-register button:hover {
  color: hsl(0, 0%, 8%) ;
}
a.btn-register:hover{
  border: 2px solid hsl(0, 0%, 8%) ;
}
button.btn.learn-more {
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border-radius: 15px;
  padding: 10px 25px;
  border: 2px solid hsl(0, 0%, 8%);
}
button.btn.learn-more:hover {
  background:hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: transparent !important;
}
.dropdown-item {
  color: hsl(0, 0%, 41%) !important;
}
.dropdown-item:hover {
  color: hsl(0, 0%, 8%) !important; 
}