@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
  --cor-primaria: hsl(0, 0%, 98%);
  --cor-secundaria: hsl(0, 0%, 8%);
  --cor-terciaria: hsl(0, 0%, 41%);

  --font-primaria: 'Epilogue', sans-serif;
}
*{
  font-family: 'Epilogue', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Epilogue', sans-serif;
  background-color: var(--cor-primaria) !important;
}
a.nav-link {
  color: var(--cor-terciaria);
}
a.nav-link:hover {
  color: var(--cor-secundaria);
}
li.nav-item {
  margin-left: 25px;
}
a.nav-link.dropdown-toggle.show::after {
  transform: rotate(180deg);
}
a.btn-login {
  margin-right: 25px;
}
a.btn-login > button.btn.btn-outline-dark {
  border: 0px;
}
ul.dropdown-menu.show {
  border: 0;
  padding: 15px 0px;
  box-shadow: 0px 0px 109px -17px rgb(0 0 0 / 50%);
}
a.nav-link {
  cursor: pointer;
}
a.btn-register > button,
a.btn-login > button {
  padding: 6px 20px;
}
a.dropdown-item >img {
  margin-right: 10px;
  margin-left: 8px;
}
img.img-lado-esquerdo-desktop {
  width: 390px;
}
h1.titulo-page {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.0em;
}
.col-md-6.parte-texto {
  display: grid;
  align-content: center;
}
.biblioteca-images {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
}
.col-md-6.parte-texto > p {
  margin-bottom: 40px;
  margin-top: 40px;
}
.col-md-6.section-image {
  display: flex;
  justify-content: flex-end;
}
section.container.site_body {
  margin-top: 25px;
  padding-bottom: 15px;
}
header {
  padding: 18px;
}
a.btn-login button,
a.btn-register button{
  color: var(--cor-terciaria);
}
a.btn-register{
  border: 2px solid var(--cor-terciaria);
  border-radius: 15px;
}
a.btn-login button:hover,
a.btn-register button:hover {
  color: var(--cor-secundaria);
}
.btns__login__register{
  display: flex;
}
a.btn-register:hover{
  border: 2px solid var(--cor-secundaria);
}
button.btn.learn-more {
  background: var(--cor-secundaria);
  color: var(--cor-primaria);
  border-radius: 15px;
  padding: 10px 25px;
  border: 2px solid var(--cor-secundaria);
}
button.btn.learn-more:hover {
  background:var(--cor-primaria);
  color: var(--cor-secundaria);
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: transparent !important;
}
.dropdown-item {
  color: var(--cor-terciaria) !important;
}
.dropdown-item:hover {
  color: var(--cor-secundaria) !important; 
}
.img-topo-mobile{
  display: none;
}
.titulo__page__mobile{
  display: none;
}
@media (min-width: 761px) and (max-width: 1100px) {
  article.row.conteudo__site__mobile__desktop {
    display: flex;
    align-items: center;
}
}
@media(max-width: 760px){
  .img-topo-mobile{
    display: block;
  }
  .img-lado-esquerdo-desktop{
    display: none;
  }
  .titulo__page__mobile{
    display: block;
  }
  .titulo__page__desktop{
    display: none;
  }
  .conteudo__site__mobile__desktop {
    flex-direction: column-reverse;
  }
  .section-image {
    padding: 0 !important;
    margin-bottom: 3.5em;
  }
  h1.titulo-page {
    font-size: 38px;
  }
  .parte-texto {
    text-align: center;
    padding: 0px 20px;
  }
  .col-md-6.parte-texto > p {
    margin-bottom: 25px;
    margin-top: 10px;
  }
  .biblioteca-images > img {
    width: 80px;
  }
  div#offcanvasNavbar2 {
    width: 280px;
  }
  .offcanvas-header {
    justify-content: end !important;
  }
  .btns__login__register{
    display: grid;
    text-align: center;
  }
  ul.dropdown-menu.show {
    box-shadow: none;
  }
  button.navbar-toggler {
    border: none !important;
  }
  .navbar-toggler-icon {
    width: 2.5em !important;
    height: 2.5em !important; 
    background-image: url("../images/icon-menu.svg") !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
}